{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
main %}


<!-- <h1>Welcome to Bid Frenzy!!</h1> -->

{% if allItems %}
<h1>Welcome, {{ user_name }}!</h1>

<div class="alert alert-success" role="alert" id="index-alert">
    {{ message }}
</div>

<h2>Your items listed for sale:</h2>
<div class="flex-container">
  {% for item in allItems %}

  <div class="bordered">
    <p>Name: <span class="bold">{{ item['name'] }}</span></p>
    <p>Description: <span class="bold">{{ item['description'] }}</span></p>
    <p>Asking Price: <span class="bold">{{ item['askingPrice'] }}</span></p>
    <img src="{{ item['filename'] }}" width="500" />
    <p>Bids for this item: <span class="bold">{{ item['bidNumber'] }}</span></p>
    <ul>
      {% for bid in item['allBids'] %}
      <div class="flex-row">
        <li>
          Offer made by <span class="bold">{{ bid['bidderName'] }}</span> at {{
          bid['datetime'] }} for: <span class="bold">{{ bid['offerPrice'] }}</span>
        </li>
        <form action="/index" method="post">
          <button class="btn btn-primary" type="submit" name="bidId" value="{{ bid['id'] }}" >Accept Bid</button>
        </form>
      </div>
      {% endfor %}
    </ul>
  </div>

  {% endfor %}
</div>
<script>
if (document.getElementById("index-alert").innerText === "") {
  document.getElementById("index-alert").style.backgroundColor = "white";
  document.getElementById("index-alert").style.border = "none";
}
</script>
{% else %}
<h2>You have no items listed for sale.</h2>


{% endif %} {% endblock %}
