{% extends "layout.html" %} {% block title %} Your Transactions {% endblock %}
{% block main %}

<h1>Your Transactions</h1>

<div id="transactions_container"></div>

<div class="alert alert-primary" role="alert">
  {% for item in display %}
  {{ item }}
  <br><br>
  {% endfor %}
  

</div>



<form action="/transactions"></form>
<select class="form-select" name="transactions">
  <option value="sold">Sold items</option>
  <option value="bought">Bought items</option>
</select>



<div class="flex-container">
  {% for item in soldItems %}

  <div class="bordered">
    <p>Name: <span>{{ item['name'] }}</span></p>
    <img src="{{ item['filename'] }}" width="500" />
    <p>Description: <span>{{ item['description'] }}</span></p>
    <p>Selling Price: <span>{{ item['bidsInfo']['offerPrice'] }}</span></p>
    <p>Sold to: <span>{{ item['bidsInfo']['bidderName'] }}</span></p>
    <p>Date sold: <span>{{ item['bidsInfo']['datetime'] }}</span></p>
  </div>
  {% endfor %} 
</div>


  {% endblock %}

